@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: "Inter", sans-serif;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary text-onPrimary hover:bg-primary-hover px-4 py-2 rounded-md font-medium transition-colors;
  }
  
  .badge {
    @apply inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-semibold;
  }
  
  .card {
    @apply rounded-lg border border-neutral-200 bg-white shadow-sm;
  }
}
