@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: "Inter", sans-serif;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary text-onPrimary px-6 py-2 rounded-lg font-medium transition-colors hover:bg-primary-hover focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2;
  }

  .btn-secondary {
    @apply bg-neutral-50 text-neutral-900 px-6 py-2 rounded-lg font-medium transition-colors hover:bg-neutral-100 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2;
  }

  .badge {
    @apply inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium;
  }

  .card {
    @apply bg-white rounded-lg shadow-md overflow-hidden transition-shadow hover:shadow-lg;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
